﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<form action="/auth/login" method="post" class="form-group">
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="Username" value="" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="Password" value="" class="form-control" />
    </div>    
    <button type="submit" class="btn btn-primary mb-3">Submit</button>

    @if (TempData["AuthMessage"] != null)
    {
        <br />
        <p style="color:darkred" id="AuthMessage">@TempData["AuthMessage"]</p>
    }
</form>

