﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/auth/registrar" method="post" class="form-group">

    <div class="form-group">
        <label >Username</label>

        <input type="text" name="Username" value="@Model.Username" class="form-control" />
        <p style="color:red">@Html.ValidationMessage("Username")</p>

    </div>
    <div class="form-group">
        <input type="hidden" name="Password" value="." class="form-control" />
        <label class="form-group">Contraseña</label>
        <input type="password" name="PasswordConf" value="" class="form-control" />
        <p style="color:red">@Html.ValidationMessage("Password")</p>
    </div>

    <button class="btn btn-info form-group btn-lg">Registrarme</button>
</form>