﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string link = Model.Video.Replace("https://www.youtube.com/watch?v=", "https://www.youtube.com/embed/");
}



<a class="btn btn-dark mb-3" href="/Ejercicios/Index"> Regresar</a>
<h1>@Model.Nombre</h1>
<div class="embed-responsive embed-responsive-16by9">
    
    <iframe class="embed-responsive-item" src="@link" allowfullscreen></iframe>
</div>