﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a class="btn btn-danger mb-3 btn-lg" href="/Rutina/index">Regresar</a>

<form action="/rutina/create" method="post" class="form-group">

    <div class="form-group mb-3">
        <input type="hidden" name="UsuarioId" value="@ViewBag.usuario.Id" class="form-control" />
        <label class="col-form-label">Nombre</label>
        <input type="text" name="Nombre" value="@Model.Nombre" class="form-control" />
        <p style="color:red">@Html.ValidationMessage("Nombre")</p>
    </div>
    <div class="form-group mb-3">
        <label >Tipo</label>
        <select class="form-control" name="Tipo">
            <option selected value="">Elige...</option>
            <option value="Principiante">Principiante</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Avanzado">Avanzado</option>
        </select>
        <p style="color:red">@Html.ValidationMessage("Tipo")</p>
    </div>

    <button class="btn btn-success mb-3 btn-lg">Crear</button>
</form>