﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tiempo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Ejercicio.Nombre
                </td>
                <td>
                    @item.Tiempo Segundos
                </td>
                <td>
                    <a  class="btn btn-primary" href="/Ejercicios/Detail?id=@item.Ejercicio.Id">Ver Video</a>
                </td>
            </tr>
        }

    </tbody>
</table>