﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-info btn-lg mb-3" href="/Rutina/Create">Crear una Rutina</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nombre
                </td>

                <td>
                    @item.Tipo
                </td>
                <td>
                    <a class="btn btn-primary" href="/rutina/DetalleRutina?id=@item.Id">Ver Ejercicios </a>
                </td>
            </tr>
        }
    </tbody>
</table>
